@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#app{
    width:100%;
    min-height:100vh;
}

body{
    font-family:'Inter',sans-serif;
    background:#f4f7fb;
    color:#222;
}

button{
    cursor:pointer;
    font-family:inherit;
}

input,
button{
    font-family:inherit;
}

a{
    text-decoration:none;
}