.navbar{

    height:80px;

    background:#fff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 3px 12px rgba(0,0,0,.08);

}

.navbar-left h2{

    color:#1e293b;

    font-size:24px;

}

.navbar-left p{

    color:#64748b;

    margin-top:5px;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.notification-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#eff6ff;

    color:#2563eb;

    cursor:pointer;

    font-size:18px;

}

.profile{

    display:flex;

    align-items:center;

    gap:15px;

}

.profile img{

    width:50px;

    height:50px;

    border-radius:50%;

}

.profile-info{

    text-align:right;

}

.profile-info h4{

    color:#1e293b;

}

.profile-info small{

    color:#64748b;

}

.logout-btn{

    display:flex;
    align-items:center;
    gap:10px;

    border:none;

    background:#ef4444;

    color:#fff;

    padding:10px 18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

    font-size:15px;

}

.logout-btn:hover{

    background:#dc2626;

}